.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.5rem;
  right: 0;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  z-index: 9999;
}
