.container {
  position: relative;
  padding: var(--padding-regular) var(--padding-regular) 3.125rem
    var(--padding-regular);
  gap: 10px;
  min-width: 16.5rem;
  max-width: 16.5rem;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-list);
}

:root[color-theme="dark"] .container {
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
}

.container:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.titleContainer {
  margin-bottom: var(--margin-regular);
  padding-right: 1.8rem;
  border-bottom: 1px solid var(--color-sub);
}

.input {
  margin-bottom: 0.5rem;
}

:root[color-theme="dark"] .input {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.title {
  padding-bottom: var(--padding-regular);
  font-size: var(--font-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-main);
}

.menuBtn {
  position: absolute;
  top: 0.25rem;
  right: var(--margin-regular);
  width: 1.5rem;
  height: 1.5rem;
  background: url("@assets/menu.svg");
}

:root[color-theme="dark"] .menuBtn {
  background: url("@assets/menu-dark.svg");
}

.cards {
  min-height: 5px;
  max-height: calc(100vh - 26rem);
  overflow-y: auto;
}
