.container {
  position: relative;
  padding: var(--padding-regular) var(--padding-regular) 3.125rem
    var(--padding-regular);
  gap: 10px;
  min-width: 16.5rem;
  max-width: 16.5rem;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-list);
}

.container:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.titleContainer {
  margin-bottom: var(--margin-regular);
  padding-right: 1.5rem;
  border-bottom: 1px solid var(--color-sub);
}

.title {
  padding-bottom: var(--padding-regular);
  font-size: var(--font-medium);
  word-break: break-all;
}

.menuBtn {
  position: absolute;
  top: 0.25rem;
  right: var(--margin-regular);
  width: 1.5rem;
  height: 1.5rem;
  background: url("assets/menu.svg");
}

.cards {
  min-height: 5px;
  max-height: calc(100vh - 26rem);
  overflow-y: auto;
}
