.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.container {
  position: relative;
  padding: 1.5rem 0 1.5rem 2.5rem;
  width: 45rem;
  min-height: 18rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-bg);
}

:root[color-theme="dark"] .input {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

:root[color-theme="dark"] .container {
  border: 1px solid var(--color-border);
}

.cardTitle {
  padding: 0.1rem 0 0.5rem 2.5rem;
  cursor: pointer;
  color: var(--color-text-main);
}

.cardTitle::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  width: 1.875rem;
  height: 1.875rem;
  background: url("@assets/title.svg");
}

:root[color-theme="dark"] .cardTitle::before {
  background: url("@assets/title-dark.svg");
}

.p {
  padding-left: 2.7rem;
  color: var(--color-text-sub);
}

.listTitle {
  text-decoration: underline;
}

.descriptionTitle {
  position: relative;
  padding: 1.75rem 0 1.375rem 2.7rem;
  color: var(--color-text-main);
}

.descriptionTitle::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0.1rem;
  width: 1.6rem;
  height: 1.6rem;
  background: no-repeat url("@assets/description.svg");
  background-size: contain;
}

:root[color-theme="dark"] .descriptionTitle::before {
  background: no-repeat url("@assets/description-dark.svg");
  background-size: contain;
}

.descriptionInput {
  margin-left: 2.85rem;
  width: 34.25rem;
  min-height: 5rem;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-list);
  resize: none;
  word-break: break-all;
  overflow: hidden;
}

:root[color-theme="dark"] .descriptionInput {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0.3rem 5.4rem;
}

.btn {
  width: 3.875rem;
  height: 1.5rem;
  font-size: var(--font-regular);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  color: var(--color-white);
  background: var(--color-accent);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-accent-hover);
}

.cancel {
  color: var(--color-text-main);
  background-color: var(--color-bg);
}

:root[color-theme="dark"] .cancel {
  border: 1px solid var(--color-border);
}

.cancel:hover,
.cancel:focus {
  background-color: var(--color-bg-hover);
}

.descriptionArea {
  display: inline-flex;
  margin-left: 2.85rem;
  padding: 1rem;
  width: 34.25rem;
  min-height: 5rem;
  text-align: left;
  white-space: pre-wrap;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  color: var(--color-text-main);
  background-color: var(--color-bg);
  word-break: break-all;
}

:root[color-theme="dark"] .descriptionArea {
  border: 1px solid var(--color-border);
}

.descriptionArea:hover,
.descriptionArea:focus {
  background-color: var(--color-bg-hover);
}

.closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@assets/close.svg");
}

:root[color-theme="dark"] .closeBtn {
  background: url("@assets/close-dark.svg");
}
