.title {
  margin: 2rem 3.75rem;
  padding-left: 2.25rem;
  color: var(--color-text-main);
  background: url("assets/user.svg") no-repeat left;
}

:root[color-theme="dark"] .title {
  background: url("assets/user-dark.svg") no-repeat left;
}

.boardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3.25rem;
  padding: 0 3.75rem;
}
