.container {
  position: relative;
  margin: var(--margin-regular) 0;
  padding: var(--padding-regular) 2rem var(--padding-regular)
    var(--padding-regular);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  color: var(--color-text-sub);
  background-color: var(--color-bg);
}

:root[color-theme="dark"] .container {
  border: 1px solid var(--color-border);
}

.container:hover,
.container:focus {
  background-color: var(--color-bg-hover);
}

:root[color-theme="dark"] .input {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.name {
  display: inline-block;
  width: 90%;
  font-size: var(--font-regular);
  overflow: hidden;
  text-overflow: ellipsis;
}

.editBtn {
  position: absolute;
  top: 0.594rem;
  right: 1.8rem;
  padding: 0;
  width: 1rem;
  height: 1rem;
  background: no-repeat url("@assets/pencil.svg");
}

:root[color-theme="dark"] .editBtn {
  background: no-repeat url("@assets/pencil-dark.svg");
}

.deleteBtn {
  position: absolute;
  top: 0.594rem;
  right: 0.5rem;
  padding: 0;
  width: 1rem;
  height: 1rem;
  background: no-repeat url("@assets/delete.svg");
}

:root[color-theme="dark"] .deleteBtn {
  background: no-repeat url("@assets/delete-dark.svg");
}
