.container {
  position: relative;
  min-height: 6.5rem;
  border-bottom: 3px solid var(--color-sub);
}

.logo {
  margin-top: 1rem;
  margin-left: 3.75rem;
  /* width: 12rem;
  height: 4.5rem; */
}

.logout {
  position: absolute;
  top: 2.75rem;
  right: 3.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-main);
}

@media (max-width: 768px) {
  .logout {
    right: 4rem;
    width: 22px;
    height: 22px;
    font-size: 0;
    background: url("@assets/logout-dark.svg");
  }

  :root[color-theme="dark"] .logout {
    background: url("@assets/logout.svg");
  }
}
